<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>DNC Numbers Record</title>

    <!-- Custom fonts for this template-->
    <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="{% static 'css/sb-admin-2.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/datatables/dataTables.bootstrap4.min.css' %}" rel="stylesheet">
</head>

<style type="text/css">

.overlay{
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 999;
    background: rgba(255,255,255,0.8) url("{% static 'img/loader.gif' %}") center no-repeat;
}
/* Turn off scrollbar when body element has the loading class */
body.loading{
    overflow: hidden;   
}
/* Make spinner image visible when body element has the loading class */
body.loading .overlay{
    display: block;
}
</style>
<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
            <!-- Sidebar - Brand -->
                <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{% url 'search-dnc-system' %}">
                    <div class="sidebar-brand-icon rotate-n-0">
                        <img src="{% static 'img/logo.jpg' %}" />
                    </div>
                    <!--<div class="sidebar-brand-text mx-3">SB Admin <sup>2</sup></div>-->
                </a>
            <!-- Divider -->
          
            <!-- Divider -->
            <hr class="sidebar-divider">
            <!-- Heading -->
            <div class="sidebar-heading">
                Interface
            </div>
            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
                   aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fas fa-fw fa-cog"></i>
                    <span>DNC Server</span>
                </a>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">DNC Server Components:</h6>
                        {% if user.is_superuser %}
                        <a class="collapse-item" href="{% url 'add-vendor' %}">Add Vendor</a>
                        <a class="collapse-item" href="{% url 'upload-dnc-file' %}">Upload File</a>
                        <a class="collapse-item" href="{% url 'search-dnc-system' %}">Search DNC</a>
                        {% else %}
                        <a class="collapse-item" href="{% url 'search-dnc-system' %}">Search DNC</a>
                        {% endif %}

                    </div>
                </div>
            </li>

        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                   

                    <div class="card o-hidden border-0 shadow-lg my-5">
                        <div class="card-body p-0">
                            <!-- Nested Row within Card Body -->
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="p-5">
                                        <a href="{% url 'logout' %}" class="btn btn-primary">Logout</a>
                                        <div class="text-center">
                                            <h1 class="h4 text-gray-900 mb-4">Search DNC Numbers!</h1>
                                        </div>
                                        <form class="user">
                                            <div class="form-group row">
                                                <div class="col-sm-6 mb-3 mb-sm-0">
                                                    <select class="form-control" id="SupplierId"></select>
                                                </div>
                                                <div class="col-sm-6 mb-3 mb-sm-0">
                                                    <input type="text" class="form-control" id="PhoneNumber"
                                                           placeholder="Phone Number">
                                                </div>
                                            </div>
                                           
                                            <a href="#" id="linkSaveSupplier" class="btn btn-primary btn-user btn-block">
                                                Search
                                            </a>
                                           
                                          
                                        </form>
                                        <hr>
                                        <div class="overlay"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Content Row -->

                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Vendor Contacts List</h6>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dtSupplier" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>Vendor Name</th>
                                            <th>Contact Number</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>


                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Your Website 2021</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="login.html">Logout</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Core plugin JavaScript-->
    <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

    <!-- Custom scripts for all pages-->
    <script src="{% static 'js/sb-admin-2.min.js' %}"></script>
    <!-- Page level plugins -->
    <script src="{% static 'vendor/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>
    <!-- Page level custom scripts -->
    <script src="{% static 'js/demo/datatables-demo.js' %}"></script>

</body>

</html>

<script type="text/javascript">
    $(document).ready(function(){
    GetAllSupplier();
    $("#linkSaveSupplier").click(function(){
        let supplierId = $("#SupplierId").val();
        let phoneNumber = $("#PhoneNumber").val();

        let _url  = "http://127.0.0.1:8000/api/dncnumber_view?vendor_id="+supplierId+"&&search_dnc_num="+phoneNumber;
		$("body").addClass("loading");							  
        $.ajax({
                   type: 'GET',
                    url: _url,
                    data: null,
                    cache: false,
                    processData: false,
                    async: true,
                    contentType: "application/json",
                    success: function (response) {
                        try
                        {

                            alert(response.message);
                            let data=[];
                            if (response.success)
                            {
									$("body").removeClass("loading");
                                    data=response.data;
                            }
                             $('#dtSupplier').DataTable({
                                                        data: data,
                                                        "destroy": true,
                                                        "deferRender": true,
                                                        "pageLength": 5,
                                                        // "lengthMenu": [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
                                                        //"order": [[0, "desc"]],
                                                        //"fnCreatedRow": function (nRow, row, iDataIndex) {
                                                        //    $(nRow).attr('id', row.vendor_id);
                                                        //},
                                                        columns: [
                                                              { "data": "vendor.vendor_name" },
                                                               { "data": "dnc_number" },

                                                        ]
                                                        });

                        }
                        catch (ex) {
                            console.log(ex);
							$("body").removeClass("loading");
                        }
                    },
                    error: function () {
						$("body").removeClass("loading");
                    }
                });

        });
    });

    function GetAllSupplier()
    {

        let _data =null;
        let _url  = "http://127.0.0.1:8000/api/vendor_view/";
		$.ajax({
                    type: 'GET',
                    url: _url,
                    data: _data,
                    cache: false,
                    processData: false,
                    async: true,
                    contentType: "application/json",
                    success: function (response) {
                        try
                        {
                            let option = "<option value=''>Select Vendor</option>";
                            if (response.success)
                            {
                                for(var i=0;i<response.data.length;i++)
                                {
                                    option += "<option value='"+response.data[i].id+"'>"+response.data[i].vendor_name+"</option>";
                                }
                            }
                            else
                            {
                            alert(response.message);

                            }
                            $("#SupplierId").html(option)
                        }
                        catch (ex) {
                            console.log(ex);

                        }
                    },
                    error: function () {

                    }
                });
    }

</script>

